.section {
    background-color: darkgoldenrod;
    padding: 1rem;
    margin: 1rem;
}

.remover {
    background-color: darkgoldenrod;
    padding: 1rem;
    margin: 1rem;
}
.parrafo{
    background-color: white;
    padding:  1rem;
}

.img {
    position:  absolute;
    left: -100vw;
}